# asciitree==0.3.3
# certifi==2020.12.5
# termcolor==1.1.0
# fire==0.5.0
fire
# psutil==5.9.1
psutil
# loguru==0.6.0
loguru
numpy
scipy
# pandas
# pyBigWig==0.3.18
pyBigWig
matplotlib
# seaborn==0.11.2
seaborn
hvplot
# networkx==2.5.1
# python-louvain==0.9
networkx
python-louvain
# tornado==6.2


