asciitree==0.3.3
certifi==2020.12.5
fire==0.4.0
psutil==5.9.1
numpy==1.22.1
scipy==1.8.0
pandas==1.3.5
pyBigWig==0.3.18
deeptools==3.5.1
matplotlib==3.3.2
loguru==0.6.0
networkx==2.8.6
python-louvain==0.9
tornado==6.2
seaborn==0.9.1
bokeh==2.4.0
holoviews==1.11.0
hvplot==0.8.0
# toolz==0.9.0
# intervaltree==3.0.0
# pyGenomeTracks==3.6